<h1>Editing item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <table border="0">
    <tr>
      <td><%= f.label :category %></td>
      <td><%= f.text_field :category, :size => 35 %></td>
    </tr>
    <tr>
      <td><%= f.label :item %></td>
      <td><%= f.text_area :item, :cols => 40, :rows => 3 %></td>
    </tr>
    <tr>
      <td><%= f.label :completed %></td>
      <td><%= f.check_box :completed %></td>
    </tr>
    <tr>
      <td align="right" colspan="2"><%= f.submit 'Save' %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'View Items', items_path %>
