<h1>Listing items</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Category</th>
    <th>Item</th>
    <th>Completed</th>
  </tr>

<% @items.each do |items| %>
  <tr>
    <td><%=h items.id %></td>
    <td><%=h items.category %></td>
    <td><%=h items.item %></td>
    <td><%=h items.completed %></td>
    <td><%= link_to 'Show', items %></td>
    <td><%= link_to 'Edit', edit_items_path(items) %></td>
    <td><%= link_to 'Destroy', items, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New items', new_items_path %>