<h1>Listing items</h1>

<table class="data-table">
  <tr>
    <th>&nbsp;</th>
    <th>Category</th>
    <th>Item</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.completed ? '&#x2713;' : '&#x025A1' %></td>
    <td><%=h item.category %></td>
    <td><%=h item.item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Item', new_item_path %>
