<p>
  <b>Category:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Item:</b>
  <%=h @item.item %>
</p>

<p>
  <b>Completed:</b>
  <%=h @item.completed %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>