

<p class="show-todo">
  <%=h @item.category %> 
| <%=h @item.item %> 
| <td><%= @item.completed ? '(completed, good for you!)' : '(still to do)' %></td>
</p>



<%= link_to 'Edit This', edit_item_path(@item) %> |
<%= link_to 'View Your Items', items_path %>
