<p>
  <b>Id:</b>
  <%=h @items.id %>
</p>

<p>
  <b>Category:</b>
  <%=h @items.category %>
</p>

<p>
  <b>Item:</b>
  <%=h @items.item %>
</p>

<p>
  <b>Completed:</b>
  <%=h @items.completed %>
</p>


<%= link_to 'Edit', edit_items_path(@items) %> |
<%= link_to 'Back', items_path %>